<h2>Sign up for a course</h2>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">

    @if (name?.invalid && (name?.dirty || name?.touched)) {
      <div class="error">
        @if (name?.errors?.['required']){
        <small>Name is required. </small>
        }
        @if (name?.errors?.['minlength']){
        <small>Name must be at least 3 characters.</small>
        }
      </div>
    }

  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    @if(email?.invalid && (email?.dirty || email?.touched)) {
      <div class="error">
        @if(email?.errors?.['required']) {
          <small>Email is required.</small>
        }
        @if(email?.errors?.['email']) {
          <small>Please enter a valid email.</small>
        }
      </div>
    }
  </div>
  <div class="form-group">
    <label for="name">Enrol in:</label>
    <select id="enrolledCourseId" formControlName="enrolledCourseId">
      <option value="" disabled>Select a course</option>
      @for (course of courses; track course.id){
        <option [value]="course.id">
          {{course.title}}
        </option>
      }
    </select>
    @if(enrolledCourseId?.invalid && (enrolledCourseId?.dirty || enrolledCourseId?.touched)) {
      <div class="error">
        @if(enrolledCourseId?.errors?.['required']) {
          <small>Please select a course.</small>
        }
      </div>
    }
  </div>
  <button type="submit" [disabled]="signUpForm.invalid">Sign up</button>
  @if (submissionSuccess) {
    <div class="success">
      <p>Thank you for signing up! We will contact you soon.</p>
    </div>
  }
  @if (submissionError) {
    <div class="error">
      <p>{{ submissionError }}</p>
    </div>
  }
</form>
